<h1>Assignment-1</h1>
<h3><b>Happymonk Data Science Application Process</b></h3>

<h4>To ensure whether sets A and B identify the same variable, we can use statistical measures or similarity metrics to compare the data distributions or patterns between the two datasets. </h4>
<p>Step 1: Importing required Libraries<br>
Step 2: Import Dataset (https://www.kaggle.com/datasets/sumanthvrao/daily-climate-time-series-data)<br>
Step 3:

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
Dataset_A = pd.read_csv('/content/DailyDelhiClimateTrain.csv')
Dataset_B = pd.read_csv('/content/DailyDelhiClimateTest.csv')

In [3]:
Dataset_A

            date   meantemp    humidity  wind_speed  meanpressure
0     2013-01-01  10.000000   84.500000    0.000000   1015.666667
1     2013-01-02   7.400000   92.000000    2.980000   1017.800000
2     2013-01-03   7.166667   87.000000    4.633333   1018.666667
3     2013-01-04   8.666667   71.333333    1.233333   1017.166667
4     2013-01-05   6.000000   86.833333    3.700000   1016.500000
...          ...        ...         ...         ...           ...
1457  2016-12-28  17.217391   68.043478    3.547826   1015.565217
1458  2016-12-29  15.238095   87.857143    6.000000   1016.904762
1459  2016-12-30  14.095238   89.666667    6.266667   1017.904762
1460  2016-12-31  15.052632   87.000000    7.325000   1016.100000
1461  2017-01-01  10.000000  100.000000    0.000000   1016.000000

[1462 rows x 5 columns]

In [4]:
Dataset_B

           date   meantemp   humidity  wind_speed  meanpressure
0    2017-01-01  15.913043  85.869565    2.743478     59.000000
1    2017-01-02  18.500000  77.222222    2.894444   1018.277778
2    2017-01-03  17.111111  81.888889    4.016667   1018.333333
3    2017-01-04  18.700000  70.050000    4.545000   1015.700000
4    2017-01-05  18.388889  74.944444    3.300000   1014.333333
..          ...        ...        ...         ...           ...
109  2017-04-20  34.500000  27.500000    5.562500    998.625000
110  2017-04-21  34.250000  39.375000    6.962500    999.875000
111  2017-04-22  32.900000  40.900000    8.890000   1001.600000
112  2017-04-23  32.875000  27.500000    9.962500   1002.125000
113  2017-04-24  32.000000  27.142857   12.157143   1004.142857

[114 rows x 5 columns]

In [5]:
Dataset_A.describe()

          meantemp     humidity   wind_speed  meanpressure
count  1462.000000  1462.000000  1462.000000   1462.000000
mean     25.495521    60.771702     6.802209   1011.104548
std       7.348103    16.769652     4.561602    180.231668
min       6.000000    13.428571     0.000000     -3.041667
25%      18.857143    50.375000     3.475000   1001.580357
50%      27.714286    62.625000     6.221667   1008.563492
75%      31.305804    72.218750     9.238235   1014.944901
max      38.714286   100.000000    42.220000   7679.333333

In [6]:
Dataset_B.describe()

         meantemp    humidity  wind_speed  meanpressure
count  114.000000  114.000000  114.000000    114.000000
mean    21.713079   56.258362    8.143924   1004.035090
std      6.360072   19.068083    3.588049     89.474692
min     11.000000   17.750000    1.387500     59.000000
25%     16.437198   39.625000    5.563542   1007.437500
50%     19.875000   57.750000    8.069444   1012.739316
75%     27.705357   71.902778   10.068750   1016.739583
max     34.500000   95.833333   19.314286   1022.809524

In [7]:
# Calculate mean and standard deviation
def mean_std(Dataset, column):
  mean = np.mean(Dataset[column])
  std = np.std(Dataset[column])
  return mean, std

In [13]:
#for temprature
mean_temp_A, std_temp_A = mean_std(Dataset_A,'meantemp')
mean_temp_B, std_temp_B = mean_std(Dataset_B,'meantemp')

#for humidity
mean_hum_A, std_hum_A = mean_std(Dataset_A,'humidity')
mean_hum_B, std_hum_B = mean_std(Dataset_B,'humidity')

#for wind speed
mean_wind_A, std_wind_A = mean_std(Dataset_A,'wind_speed')
mean_wind_B, std_wind_B = mean_std(Dataset_B,'wind_speed')

#for pressure
mean_pre_A, std_pre_A = mean_std(Dataset_A,'meanpressure')
mean_pre_B, std_pre_B = mean_std(Dataset_B,'meanpressure')

In [12]:
# Compare mean and standard deviation between the dataset's columns
def diff(mean_A, mean_B, std_A, std_B):
  mean_diff = abs(mean_A - mean_B)
  std_diff = abs(std_A - std_B)
  return mean_diff, std_diff

In [30]:
def var_check( mean_stdd , similarity_threshold):
  mean_diff, std_diff = mean_stdd
  if mean_diff < similarity_threshold and std_diff < similarity_threshold:
      return True
  else:
      return False

In [53]:
# Define a threshold for similarity (adjust as needed)
temp_check = var_check(diff(mean_temp_A, mean_temp_B, std_temp_A, std_temp_B), similarity_threshold = 5)
humidity_check = var_check(diff(mean_hum_A, mean_hum_B, std_hum_A, std_hum_B), similarity_threshold = 5)
wind_check = var_check(diff(mean_wind_A, mean_wind_B, std_wind_A, std_wind_B), similarity_threshold = 2)
pressure_check = var_check(diff(mean_pre_A, mean_pre_B, std_pre_A, std_pre_B), similarity_threshold = 100)

In [49]:
def final_check(temp_check, humidity_check, wind_check, pressure_check):
  if temp_check and humidity_check and wind_check and pressure_check:
    return ('Yes, Sets A and B identify the same variable')
  else:
    return ('No, Sets A and B do not identify the same variable')

In [54]:
print(final_check(temp_check, humidity_check, wind_check, pressure_check))

Yes, Sets A and B identify the same variable